   *{
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   }
   
   h1{
      font-size: 1.5em;
      color: #4ab354;
      font-family: cursive;
   }
   
   body{
    position: absolute;
      width: 100vw;
      height: 100vh;
      }
   form{
      width: 400px;
      margin: 200px auto;
      text-align: center;
   }
   p{
      padding-top: 1em;
      font-size: 22px;
   }
   input{
      display: block;
      margin: 10px auto;
      width: 400px;
      height: 30px;
      padding: 20px;
      text-align: center;
      border: 1px solid #4ab354;
      border-radius: 11px;
      box-shadow: 3px 3px 5px rgba(0,0,0,0.3);
   }
   
   #box1{
      position: relative;
      float: left;
      width: 50%;
      height: 60vh;
      
   }
   #box2{
      position: relative;
      float: right;
      width: 50%;
      height: 100vh;
   
      left: -12vw;
     
   }
  
   
   #btn-enviar{
      width: 400px;
      height: 50px;
      border-radius: 10px;
      border:none;
      background-color:#4ab354;
      color: white   ;
      font-size: 1em;
      box-shadow: 3px 3px 5px rgba(0,0,0,0.3);
      font-weight: 600;
   }
   img{
      height: 100vh;
   }
   a:hover{
      color: #f11717;
   }
   a{
      text-decoration: none;
      color: #370c5fab;
   }

